<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link rel="stylesheet" href="{{ asset('assets/css/reset.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/animated-logo.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/our-team.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">

        {% block stylesheets %}



            {# block css link #}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js" integrity="sha256-DBxkGZLxKsLKhz054qUpBqtotG00r9AELGpSigJujLg=" crossorigin="anonymous"></script>
        <script src="{{ asset('assets/js/modernizr.js') }}"></script>

        {% block javascripts %}

            {#block javacascript#}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    {% block nav %}
        {% include ('theme/header.html.twig') %}

    {% endblock %}
    <div class="body">

    <div class="container">
        {% block body %}



        {% endblock %}
    </div>
    </div>
        {% block footer %}
            {% include ('theme/footer.html.twig') %}
        {% endblock %}
        {# block javascript footer#}
    {% block javascriptfooter %}
        <script src="{{ asset('assets/js/modernizr.js') }}"></script>
        <script src="{{ asset('assets/js/jquery-2.1.1.js') }}"></script>
        <script src="{{ asset('assets/js/masonry.pkgd.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.flexslider-min.js') }}"></script>
        <script src="{{ asset('assets/js/main.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/agency.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.easing.min.js') }}"></script>
        <script src="{{ asset('assets/js/classie.js') }}"></script>
        <script src="{{ asset('assets/js/cbpAnimatedHeader.js') }}"></script>

    {% endblock %}
    </body>
</html>
